div {
    display: inline-block;
    width: 100%;
    background-color: rgb(255, 0, 0);
}

    h1 {
    display: inline-block;
    width: 100%;

    }

    p {
        display: inline-block;
        width: 100%;
        text-transform: uppercase;
        text-decoration: underline;
        color: rgb(255, 255, 255);
        padding: 20px 100px;
    }